/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/* page abay-master */
body {
	background-color: #3D64FF;
}
/* header and navigation bar */
header {
	background: #ccffff;
	background: -webkit-linear-gradient(#ccffff, #3D64FF);
	background:    -moz-linear-gradient(#ccffff, #3D64FF);
	background:         linear-gradient(#ccffff, #3D64FF);
	border: 5px solid orange;
	border-radius: 30px;
	padding: 10px;
	color: yellow;
	font-size: 150%;
	font-style: inherit;
	font-family: "times new roman";
}
header h1 {
	font-style: italic;
	font-weight: 900;
	font-size: 300%;
	color: orange;
	line-height: 90px;
	text-decoration: underline;
	text-indent: 20px;
	text-shadow: 5px 8px 5px yellow;
}
header p {
	text-indent: 40px;
	text-shadow: 5px 8px 5px orange;
}
nav ul {
	font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	padding: 0;
	padding-bottom: 3%;
	margin: 0;
}
nav li {
	display: inline-block;
	float: right;
}
nav a {
	background: #ccffff;
	background: -webkit-linear-gradient(#ccffff, #3D64FF);
	background:    -moz-linear-gradient(#ccffff, #3D64FF);
	background:         linear-gradient(#ccffff, #3D64FF);
	border-right: 1px solid rgba(0, 0, 0, .3);
	padding: 12px 20px;
	text-decoration: none;
	color: #fff;
}
nav a:hover {
	background: #314b60;
	box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
nav li:first-child a {
  border-radius: 0 4px 4px 0;
}
nav li:last-child a {
  border-right: 0;
  border-radius: 4px 0 0 4px;
}

/* middle content of the page */

section div {
	background: grey;
	background: -webkit-linear-gradient(to right, #ccffff, #3D64FF);
	background:    -moz-linear-gradient(to right, #ccffff, #3D64FF);
	background:         linear-gradient(to right, #ccffff, #3D64FF);
	border: 1px solid #3D64FF;
	border-radius: 15px;
	padding: 20px;
}
section div h1 {
	font-size: 30px;
	color: red;
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
}
section div p {
	font-family: "arial";
	line-height: 20px;
	font-size: 24px;
	font-style: italic;
	color: red;	
}

/* footer */

footer {
	background: #3D64FF;
	margin: 0 auto;
	clear: both;
	font-style: courier;
	font-weight: 100;
}
footer div {
	margin: 0 auto;
	padding: 1%;
	letter-spacing: .2em;
}

